/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
	background-image: url("../img/background.png");
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	overflow:scroll;
}

h1 {
	text-align: center;
	line-height: 2.3;
	font-weight: normal;
	font-size: x-large;
	padding-bottom: 10px;
}

h1 a, h1 a:visited {
	color: black;
}

h2 {
    font-weight: normal;
    font-size: medium;
	text-align: right;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	line-height: 0.8;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

a {
	color: brown;
	text-decoration: none;
}

a:visited {
	color: brown;
}

td {
	padding-left: 60px;
	padding-right: 60px;
}

.latine {
	font-style: italic;
}

.side {
	width: 20%;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
	text-align: right;
}

.right {
	float: right;
	text-align: left;
}
.content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.text {
	text-align: justify;
	text-indent: 30px;
	margin: 60px;
}

.logo {
	background-image: url('../img/logo.png');
	height: 247px;
	width: 200px;
}

.text p {
	text-align: justify;
	text-indent: 30px;
	margin-bottom: 30px;
}

.image {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.image img {
	border-style: inset;
	border-width: 2px;
	padding: 0;
	margin: 0;
}

.links {
	color: brown;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

ol.links {
	list-style-type: none;
}

.links li {
	margin: 15px;
	padding: 0;
}

.links a {
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: 1px;
	padding: 5px;
	margin: 20px;
	border-radius: 0px 7px 7px 7px;
	box-shadow: 2px 0 3px #333, 3px 0 3px brown;
}

.internalLinks {	
}

.internalLinks a {
	border-bottom-style: outset;
	border-right-style: outset;
	background-color: rgba(238, 161, 76, 0.3);
}

.externalLinks {
}

.externalLinks a {
	border-style: none;
	box-shadow: none;
	border-bottom-style: inset;
	border-right-style: inset;
}

.packages {
  position: fixed;
  margin-top: 140px;
  margin-left: 195px;
}

.packages a {
	background-color: rgba(238, 161, 76, 0.3);
	border-bottom-style: solid;
	border-right-style: solid;
	padding: 2px;
	margin: 2px;
	border-radius: 0px 15px 15px 15px;
}

.selection a {
	background-color: #F07130;
	padding: 5px;
	margin: 20px;
	border-radius: 0px 15px 15px 15px;	
}

.download a {
	background-color: #F07130;
	border-bottom-style: outset;
	border-right-style: outset;
	padding: 1px;
	margin: 1px;
	border-width: 1px;
	border-radius: 15px 15px 15px 15px;
}

.special {
	width: 94%;
	background-color: rgba(238, 161, 76, 0.3);
	padding: 3%;
    border-width: 1px;
    text-align: justify;
    border-style: solid;
    border-color: brown;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 0 3px #333, 3px 0 3px brown;
}

.step {
	width: 50%;
	padding: 5px;
    /*margin: 5px;*/
    text-align: center;
    border-top-style: dotted;
    border-top-width: 1px;
}

.step p {
	background-color: rgba(238, 161, 76, 0.3);
	border-style: dashed;
	border-width: 1px;
	padding: 5px;
	margin: 5px;
	border-radius: 20px 20px 20px 20px;
	border-radius-style: dashed;
}

.step img {
	text-align: center;
	border-style: outset;
	border-width: 1px;
	margin-left: auto;
    margin-right: auto;
    
	padding: 2px;
	background-color: maroon;
}

.note {
	font-size: small;
	text-align: justify;
}

.references {
    font-size: smaller;
	text-align: justify;
}

.author {
    font-style: normal;
}

.publisher {
    font-style: normal;
}

h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }
}
