<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Coffea"
            id="net.sourceforge.coffea.commands.category">
      </category>
      <command
            name="Edit code using the UML class diagram editor"
            categoryId="net.sourceforge.coffea.commands.category"
            id="net.sourceforge.coffea.papyrus.commands.editionCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.sourceforge.coffea.papyrus.commands.editionCommand"
            class="net.sourceforge.coffea.papyrus.handlers.EditionHandler">
         <activeWhen>
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IType">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IField">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                  </or>
               </iterate>
         </activeWhen>
      </handler>
   </extension>
   <!--
   <extension
   		point="org.eclipse.ui.editors">
   		<editor 
   			id="net.sourceforge.coffea.papyrus.editors.UMLClassDiagramJavaEditor"
   			extensions="umlclass"
   			name="Java - UML class diagram editor"
   			icon="icons/editor.gif"
   			class="net.sourceforge.coffea.papyrus.editors.UMLClassDiagramJavaEditor"
   		/>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.coffea.papyrus.commands.editionCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="Shift+Ctrl+Alt+E"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
         	id="org.eclipse.jdt.ui.refactoring.menu"
			label="Refactor"
			mnemonic="t">
            <command
                  commandId="net.sourceforge.coffea.papyrus.commands.editionCommand"
                  mnemonic="h"
                  icon="icons/edit.gif"
                  tooltip="Edit the code using the UML class diagram editor"
                  id="net.sourceforge.coffea.menus.editionCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.main.popup?after=additions">
         <menu
         	id="org.eclipse.jdt.ui.refactoring.menu"
			label="Refactor"
			mnemonic="t">
            <command
                  commandId="net.sourceforge.coffea.papyrus.commands.editionCommand"
                  mnemonic="h"
                  icon="icons/edit.gif"
                  tooltip="Edit the code using the UML class diagram editor"
                  id="net.sourceforge.coffea.popup.editionCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sourceforge.coffea.toolbars.coffeaToolbar">
            <command
                  commandId="net.sourceforge.coffea.papyrus.commands.editionCommand"
                  icon="icons/edit.gif"
                  tooltip="Edit the code using the UML class diagram editor"
                  id="net.sourceforge.coffea.toolbars.editionCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>