<header>
    <h1 class="latine">
    	<a href="{{ site.baseurl }}/">
    		{{ site.title }}
    	</a>
    </h1>
    <div itemprop="author" itemscope
    	itemtype="http://schema.org/OrganizationRole" style="display: none;">
    	<div itemprop="author" itemscope itemtype="http://schema.org/Person">
    		<span itemprop="name">Bérenger Dulac</span>
    		<link itemprop="sameAs" href="http://www.facebook.com/berenger.dulac" />
    		<link itemprop="sameAs" href="http://bdulac.github.io" />
    		<link itemprop="sameAs" href="https://github.com/bdulac" />
    	</div>
	</div>
</header>