<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
      <category
            name="Coffea"
            id="net.sourceforge.coffea.commands.category">
      </category>
      <command
            name="Reverse Java code to an UML model"
            categoryId="net.sourceforge.coffea.commands.category"
            id="net.sourceforge.coffea.commands.reverseCommand">

      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.sourceforge.coffea.commands.reverseCommand"
            class="net.sourceforge.coffea.java.handlers.ReverseHandler">
         <activeWhen>
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IType">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IField">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                  </or>
               </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.coffea.commands.reverseCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="Shift+Ctrl+Alt+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
         	id="org.eclipse.jdt.ui.refactoring.menu"
			label="Refactor"
			mnemonic="t">
            <command
                  commandId="net.sourceforge.coffea.commands.reverseCommand"
                  icon="icons/reverse.gif"
                  tooltip="Reverse Java code to an UML model"
                  id="net.sourceforge.coffea.menus.reverseCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.main.popup?after=additions">
         <menu
         	id="org.eclipse.jdt.ui.refactoring.menu"
			label="Refactor"
			mnemonic="t">
            <command
                  commandId="net.sourceforge.coffea.commands.reverseCommand"
                  icon="icons/reverse.gif"
                  tooltip="Reverse Java code to an UML model"
                  id="net.sourceforge.coffea.popup.reverseCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sourceforge.coffea.toolbars.coffeaToolbar">
            <command
                  commandId="net.sourceforge.coffea.commands.reverseCommand"
                  icon="icons/reverse.gif"
                  tooltip="Reverse Java code to an UML model"
                  id="net.sourceforge.coffea.toolbars.reverseCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>